/*
-----------------------------------------------------------------------------------
Nom du fichier : Style.css

Auteur(s) : Not_Morgan

Date creation : 15.12.2021

Description : Stylesheet for the "Touhou sans forntière website"

Remarque(s) : ////////////// ONLY REM AND % UNIT //////////////
              -Upload on gitpage
              
              -Follow the specifc name class and ID
              
              -Privilièger Flex

              -Variable pour couleur

              -Présicer solution par SOL: nom de la solution

TODO list : 
            Dans l'ordre :
            -Choose font
            -Navbar
            -Footer
            -Section en plus ? 


Lien Cool : upload du site : https://notdubss.github.io/

            fontUsed : https://fonts.google.com/specimen/Readex+Pro?category=Sans+Serif
            



-----------------------------------------------------------------------------------
*/
/* Import */

@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");

/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Readex", sans-serif;
}

body {
  background-color: blanchedalmond;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Common class */
/* use-tag-designation */
/* Exemple : stl-h3-1 = style for h3 choice 1 */

.stl-h2-1 {
  text-align: left;

  font-size: 2.5rem;
}

.stl-h3-1 {
  font-size: 3rem;

  padding-top: 0.5rem;
}

/* Bold text nav style */
.stl-h3-2 {
  font-size: 3rem;

  padding-left: 1rem;
}

.stl-h3-3 {
  text-align: center;

  font-size: 3rem;
  color: #000;
}

/* Text in the resume */
.stl-p-1 {
  text-align: justify;

  padding: 1.5rem;

  font-size: 1.5rem;
}

.stl-p-2 {
  text-align: center;

  font-size: 2rem;
}

.stl-p-3 {
  text-align: justify;

  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #000;
  font-size: 1.5rem;
}

.center-text {
  text-align: center;
}

.nav-ulist {
  list-style: none;

  /* Align the list item horizontally */
  display: flex;

  justify-content: space-evenly;
}

.nav-listitem {
  font-size: 2.5rem;

  padding-left: 2rem;
}

/* For the BOLD TEXT NAV */
.nav-listitem:last-child {
  padding-right: 2rem;
}

/* A TAG */

.link {
  color: #000;
  text-decoration: none;
}

.link-stl-1 {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.link:hover {
  border-bottom: solid 4px #000;
}

/* BTN */

.btn-apply {
  background: rgb(197, 0, 0);
  color: #fff;
  font-size: 2rem;
  text-align: center;

  width: 20%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  border: solid 4px #000;
  border-radius: 0 20px 0 20px;
}

/*////////////// ACTIVE CLASS //////////////*/

.active-link {
  border-bottom: solid 4px #000;
}

/*////////////// ONLY REM AND % UNIT //////////////*/

/* Navbar */

#navbar {
  /* height: 20%; if navbar */
  height: 10%;
  width: 100%;
}

.navbarWrapper {
  height: 100%;
  width: 100%;
  display: flex;

  /* align itmes in the middle of the container
     on the X axe */
  align-items: center;

  /* For the BOLD TEXT NAV */
  /* Make the menu on the side of the screen */
  justify-content: space-between;
}

/* sol2 : bold text + side menu */
.boldtext-container {
  align-self: center;
}

/* Section Explaination */
#resume {
  display: none;
  height: 100%;
}

.resume-container {
  display: flex;
  flex-basis: 100%;
  text-align: center;

  padding: 2rem;

  /* border: solid 3px #000; */
}

.resume-content {
  display: flex;
  flex: 1 1 0px;
  margin: 0 auto;
  /* border: solid 3px red; */
}

.resume-content:last-child {
  border: 3px solid #000;
  border-radius: 5px;
}

.artist-bio {
  padding: 3rem;
  margin-top: 2rem;
}

/* Submitt button */
.submitButton {
  height: 10%;
  padding-bottom: 4rem;
}
/* Sale */

/* Footer */

#footer {
  height: 15%;
  width: 100%;
}

.footerWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-content {
  padding: 2rem;

  font-size: 1.2rem;
}

.footerSocialIcon {
  display: flex;
  justify-content: center;
}

.footerSocialIcon > li {
  padding-right: 0.5rem;

  font-size: 2rem;
}

.footerSocialIcon a {
  color: #000;
}

#footer h2 {
  padding-bottom: 1rem;
  color: black;
}

/*////////////// CONTRIBUTE.HTML //////////////*/

#contribute {
  height: 60%;
  width: 100%;

  padding-top: 5rem;
}

.contribute-content {
  width: 80%;

  border-radius: 30px 0 30px 0;
  border: 4px #000 solid;

  margin: 0 auto;
  padding: 3rem;
}
