/*
-----------------------------------------------------------------------------------
Nom du fichier : Style.css

Auteur(s) : Not_Morgan

Date creation : 15.12.2021

Description : Stylesheet for the "Touhou sans forntière website"

Remarque(s) : ////////////// ONLY REM AND % UNIT //////////////
              -Upload on gitpage
              
              -Follow the specifc name class and ID
              
              -Privilièger Flex

              -Variable pour couleur

              -Présicer solution par SOL: nom de la solution

TODO list : 
            Dans l'ordre :
            -Choose font
            -Navbar
            -Footer
            -Section en plus ? 


Lien Cool : upload du site : https://notdubss.github.io/

            fontUsed : https://fonts.google.com/specimen/Readex+Pro?category=Sans+Serif
            



-----------------------------------------------------------------------------------
*/
/* Import */

@import url("https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap");

/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Readex", sans-serif;
}

/* Common class */
/* use-tag-designation */
/* Exemple : stl-h3-1 = style for h3 choice 1 */
.stl-h3-1 {
  font-size: 3rem;

  padding-top: 0.5rem;
}

/* Bold text nav style */
.stl-h3-2 {
  font-size: 3rem;

  padding-left: 1rem;
}

/* Text in the resume */
.stl-p-1 {
  text-align: justify;

  padding: 3rem;

  font-size: 1.5rem;
}

.stl-p-2 {
  text-align: center;

  padding: 3rem;

  font-size: 2rem;
}

.center-text {
  text-align: center;
}

.nav-ulist {
  list-style: none;

  /* Align the list item horizontally */
  display: flex;

  justify-content: space-evenly;
}

.nav-listitem {
  font-size: 2.5rem;

  padding-left: 2rem;
}

/* For the BOLD TEXT NAV */
.nav-listitem:last-child {
  padding-right: 2rem;
}

/* A TAG */

.link {
  color: #000;
  text-decoration: none;
}

.link:hover {
  border-bottom: solid 4px #000;
}

/* BTN */

.btn-apply {
  background: rgb(0, 0, 0);
  color: #fff;

  font-size: 2rem;

  padding: 10px;
  border: solid 4px #000;
  border-radius: 4px;
}

x
/*////////////// ONLY REM AND % UNIT //////////////*/

/* Navbar */

#navbar {
  /* height: 20%; if navbar */
  height: 10%;
  width: 100%;

  background-color: blanchedalmond;
}

.navbarWrapper {
  height: 100%;
  width: 100%;
  display: flex;

  /* align itmes in the middle of the container
     on the X axe */
  align-items: center;

  /* For the BOLD TEXT NAV */
  /* Make the menu on the side of the screen */
  justify-content: space-between;
}

/* Sol1 : tradional logo center and menu next to */

/*.navbarElement {
  /* The flex element will all have the same size 
  flex-basis: 100%;
  text-align: center;
}

.nav-ulist {
  list-style: none;

  /* Align the list item horizontally 
  display: flex;

  justify-content: space-evenly;
}

.nav-listitem {
  font-size: 2.5rem;
} */

/* sol2 : bold text + side menu */
.boldtext-container {
  align-self: center;
}

/* Section Explaination */
#resume {
  background-color: blanchedalmond;
  height: 90%;
}

.resume-container {
  display: flex;
  flex-basis: 100%;
  text-align: center;

  padding: 2rem;

  /* border: solid 3px #000; */
}

.resume-content {
  display: flex;
  flex: 1 1 0px;
  margin: 0 auto;
  /* border: solid 3px red; */
}

/* Submitt button */
.submitButton {
  background-color: blanchedalmond;
  height: 10%;
  padding-bottom: 4rem;
}
/* Sale */

/* Footer */

#footer {
  height: 10%;
  width: 100%;

  background-color: purple;
}
